.Sidebar{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: 300ms ease;

  .logo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 3%;

    box-icon{
   width: 3rem;
   height: 3rem;
   text-align: center;
    }
  }

     /*Menu*/

  .menu{
   
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

    .menuitem{
        display:flex;
        align-items:center;
        gap: 1rem;
        margin-top: 50px;
        margin-left: 5px;
        position: relative;
        transition:all 300ms ease;
        font-size: 14px;

        &:hover{
            cursor: pointer;
        }

        &:active{
            background: royalblue;
            border-radius: 5px;
            margin-left: 0;
        }

        // &:active ::before{
        //  content: " ";
        //  width: 9px;
        //  height: 100px;
        //  background: royalblue;

        // }
        
    }

    .logout{

        margin-top: 10rem;
        margin-left: 5px;
        display: flex;
        align-items: center;
        position: relative;
        transition:all 300ms ease;
        font-size: 14px;

        &:hover{
            cursor: pointer;
           
        }

        &:active{
            background: var(--activeItem);
            border-radius: 5px;
            margin-left: 0;
        }

        span{
            margin-left: 5px;
        }
    }





  }


}